/* TODO Add site wide styles */
.fa-mountain, .fa-user-plus, .fa-sign-in, .fa-home{
    color: #000;
}
.fa-times{
    z-index: 4;
    position: relative;
    right: 20px;
    background: none!important;
    color: red;
}

.searchBar{
    border-radius: 15px;
    display: inline-block;
    /* border: #314d58 1px solid; */
    /* width: 400px; */
    height: 30px;
    padding-left: 8px;
    outline: none;
    padding-right: 8px;
    
}
.searchBar:active{
    outline: none;
}
.navBar,.navBar-list, #login-sign-up{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}
.search-container{
    position: relative;
    left: 25px;
}

.search-icon {
  position: absolute;
  right: 3px; 
  top: 7px;
  bottom: 3px;
  border: 0;
  outline: none;
  /* margin: 0;
  padding: 0 10px;
  border-radius: 100px; */
  z-index: 2;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/* #root{
    overflow-x: hidden;
} */
.navBar{
    display: flex;
    position: fixed;
    width: 100vw;

}
.scrolledNavbar-false{
    transition: 0.5s;
}
.scrolledNavbar-true{
    background-color: white;
    transition: 0.5s;
    border: 1px solid #a7a7a7;
}
.splashBlurb{
    position: relative;
    left: 83vh;
    bottom: 100vh;

}
.browse-button{
    font-size: 16px;
    font-weight: 700;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 8px;
    border-radius: 30px;
    margin-top: 8px;
    border: none;
    position: relative;
    left: 45px;
    /* width: 180px; */
    text-align: center;
    background-color: #6f7f8b;
}
.splashText{
    color: white;
}
.SignInButton{
    margin-left: 5px;
}

.navBar-list{
    flex: 1;
}
.splashBackground{ 
    height: 100%;
    width: 100vw;
}
.navContainer{
    z-index: 10;
}
.amenitiesNav{
    position: relative;
    left: 310px;
    margin-top: 8px;
}
.selected-amenity-filter-true.amenity-filter{
    border: 1px solid #000;

}
#nav-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: black solid 1px ;
    margin-bottom: 0;
    flex-wrap: wrap;
    
}
.breaker{ 
    width: 100%;
}
.searchBar{
    margin-bottom: 10px;
}

#login-sign-up{
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.active-login{
    display: flex;
}
.signup-login-link {
    text-align: left;
    text-decoration: none;
    text-decoration-color: none;
}
a{
    text-decoration: none;
}
body{
    /* background-color: #F3EEE3 ; */
    /* background-color: #E8F3F5; */
    /* background-color: #ECFEF1;  */
    /* background-color: #EBD894;  */
    background-color: #dfd9c4;
    overflow-x: hidden;
    /* background-color: #9DB0A3; */
}
.navBar-list{
    align-items:flex-end;
    padding-bottom: 5px;
}
.signuploginicons{
    display: flex;
}
.fa-sign-in{
    margin-left: 40px;
    margin-right: 40px;
}
.userGetaways{
    display: flex;
    /* max-width: 100px;  */
    width: 10%;
    justify-content: space-between;
    overflow-y: scroll;

}
.example-custom-input{
    display:inline !important;
}
.reservationDates{
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}
#deleteReservationForm{
    display: flex;
    justify-content: center;
    
}
.viewGetawayButton{
    margin-right: 4vw;;
    /* margin-left: 192px; */

}
.viewGetawayButton#getawayBlurb{
    margin-left: 375px;
}
.pastReservations{
    /* display: flex;
    justify-content: flex-start;
    width: 60vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; */
    display: flex;
    overflow-x: auto;
    width: 38vw;
    scroll-snap-type: x mandatory;
    margin-left: 8px;
}
.pastReservations::-webkit-scrollbar{
    background-color: none;
    width: 5px;
  height: 10px;
}
.pastReservations::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
    border-radius: 10px;
}
body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.pastReservations::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
}
.singlepastReservation{
    scroll-snap-align: start;
    

    /* margin-right: 50px;
    width: 60vw; */
  
}
#previousReservations{
    margin-left: 30vw;
    background-color:white;
}
.profileContainer{
    display: flex;
    flex-direction: column;
}
.viewGetawayButton,#demo-button, .SignInButton, .addNewGetaway{
    background-color:  #8a8f2e;
    height: 40px;
    border-radius: 25px;
    font-weight: bold;
    border: none;


    width: 123.696px;
}
#demo-button{
    margin-left: 40px;
    position: relative;
}
.fa-sign-out-alt{
    margin-left: 55px;
}
.modal-input-signup-login{
  height: auto;
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
  float: none;
}
.modal-input-signup-login-submit{
  margin-left: 10.5px;
}
#USERNAME, #PASSWORD, #firstNameField, #confirmPasswordField, #passwordField, #emailField, #lastNameField, #firstNameField, #profilePictureField {
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    width:150px;
    float: none;
}
#confirmPasswordField, #passwordField, #emailField, #lastNameField, #firstNameField{
    width: 85%;
    float: none;
}
#LOGINBUTTON, #signupbtn{
    margin-left: 30px;
}
/* #signupbtn{
    position: relative;
    left: 30px;
}
#signupbtn{
    margin-bottom:10px ;
} */
/* #root :last-child {
  display: none;
} */
/* #root{
    background-color:black;
} */
.getawayBlurb{
    position:absolute;
    top:350px;
    left:825px;
    letter-spacing: 2.5px;
}


#interestedDiv{
    position:absolute;
    top:700px;
    right: 650px;
}
.getawayDescription { grid-area: getawayDescription; }
.singleGetawayPageProfilePicture{
    max-height: 200px;
    border-radius: 50%;
}

.fa-sign-in{
    position: relative;
    top: 6px;

}
.formWrapper#bookResModal{
    position: absolute;
    left: -180px;
    bottom: 150px;
    right: 180px;

}

.formWrapper{
margin: 90px auto 45px auto;
/* margin: 0px auto 10px auto; */
width: fit-content;
display: flex;
}
.formWrapper#signup{
margin: 0px auto 10px auto;
width: fit-content;
display: flex;
}
.createGetawaySubmitButton#bookReservationSubmitButton{
    position: relative;
    right: 80px;
    margin-top: 15px;
}
.formflex#formflex-bookRes{
    background: #dfd9c4;
}
/* .footer-container{
    margin-top: 15px;
} */
.UpcomingReservations{
    display: flex;

}
.UpcomingReservations *{
    margin: 0 5px;
}
.upcomingGetawayImage,.previousGetawayImage{
    height:540px;
    width: 720px;
}
.editReservationContainer, .viewGetawayContainer{
    margin-top:90px;
    margin-bottom:15px;
}
.viewGetawayContainer{
    /* margin-left:300px;
    margin-top: 65px; */
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.getaway-info-reservationForm-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.revContainer{
    margin-top: 30px;
    border-top: 1px solid #000;
}
.revText{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    overflow-wrap: break-word;
}
.rating-num{
    width: 20px;
    font-size: 14px;
    font-weight: 600;
}
.rating-category{
    font-size: 17px;justify-self: flex-start;
    color: #2c2c2c;
    font-weight: normal;
    margin: 0;
}
.rating-meter-container{
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
.bookingContainer{ 
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.ratings-grid{
    display:grid;
    grid-template-columns: 41% 41%;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 18%;
    row-gap: 10px;
}
.rating-container{
    display: flex;
    justify-content: space-between;
}
.info{
    width: 800px;
}
.maybe {
    flex: 1;
    display: flex;
}
.maybe#containerForgetawayImgsSubmissions{
width:260px;
}
.amenityListing{
    height: 23.409px;
}
.maybe#containerForgetawayImgsSubmissions *{
margin-left: 5px;
margin-top: 5px;
background-color: white;
}
.maybe2#getawayImgsSubmissions{
    overflow: scroll;
}
.searchResultsContainer{
    /* margin-top: 65px; */
    margin-top: 115px;
}
.searchResultsContainer-browse{
margin-top: 65px;
}
.browse{
    margin-top: 15px;
}
.maybe2 {
    display: flex;
    min-height: min-content; /* needs vendor prefixes */
    
    
    overflow-x: auto;
}


.maybe2::-webkit-scrollbar {
height: 6px;
width: 6px;
}
.maybe2::-webkit-scrollbar-thumb{
  background-color: #242020;
  border-radius: 10px;
}
.getawayImages{
    display: flex;
}
.newGetawayImg{
    width: 120px;
    
}
div#getawayImgsSubmissions:empty{
    display: none;
}
.formErrors{
    color: red;
    font-weight: bold;
    margin-bottom: 16px;

}
.amenities-fieldset{
    margin-bottom: 15px ;
}
.createGetawaySubmitButton{
    background-color: #f28350;
    font-weight: bold;
}
.createGetawaySubmitButton:disabled{
    /* opacity: 0.5; */
    background-color: #f28350;
    font-weight: normal;
}
.in-line-delete#deleteGetawayForm{
    display: inline;
}
.upcomingGetawayImage#host-getaway-images{
    height: 320px; 
    width: 400px; 

}
.containerForSidebarAndMainContent{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}
.UpcomingReservations.maybe{
    overflow-x: scroll;
    max-width: 75vw;
}
.upcomingGetawayImage,.singleResultImage{
    border-radius:25px;
}
.singleResultImage{
    width: 540px;
    margin-bottom: 12px;
}
.amenity-filter {
    border-radius:30px;
    height: 32px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.browseGetawaysContainer{
    display: flex;
}
.singleResult{
    border-bottom: 1px solid #000;
    display: flex;
    margin-top: 16px;
    
}
.singleResultInfo{
    margin-left: 50px;

}
.singleGetawayHost{
    margin-left: 15px;
}
/* .signup-inputs{
    position: relative;
    left: 80px;
} */
.signUpFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.deleteImgBtn{
    position: absolute;
    top: 0;
    left: 0;

}
.containerForPreviouslyUploadedImage{
    position: relative;
    height: 200px;
}
.getawayImgsSubmissions{
    height: 200px;
}
.previouslyUploadedImage {
    height: 200px;
}
.fa-search{
    background: none;
}













.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 3 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 1 / 3 / 2 / 4; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 2 / 3 / 3 / 4; }


.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }
.listingContainer {
    align-self: baseline;
}
 .listingName,.listingSnapshot{
     padding-left:13px;
 }
 .containerForPhotosContainer{
     height: 500px;
     margin-left:16px;
     margin-right:36px;
     display: flex;
     flex-direction: column;
     overflow-y: scroll;
 }
 .photosContainer{
     display:flex;
     gap: 8px;
     width: 100% ;
 }
 .bigPic{
     height: 500px !important; 
     object-fit: cover;
     width: 100% !important;
 }
 .smallerPicsTop{
     display: flex;
     gap: 8px;
     margin-bottom: 8px;
 }
 .smallerPic{
     height: 245px !important;
     width: 100% !important;
     object-fit:cover;
 }
 .smallerPicsBottom{
     display: flex;
     gap:8px;
     margin-bottom: 3px;
 }


 .reviewTexts{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 }
 .single-review{
     width: 42%;
     margin-top: 50px;
 }
 .single-review-container{
     display: flex;
     flex-direction: column;
     align-content: flex-start;
 }
.details{
    display: flex;
    justify-items: flex-start;
    gap: 10px;
    align-items: center;
}
.reviewerNameAndDate{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.reviewerName{
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    margin: 0;

}
.reviewDate, .bookingAvgRating, .bookingNumReviews, .checkin-out-Date{
    margin: 0;
    font-weight: normal;
    font-size: 16px;
}
.checkin-out-Date{
    margin: 5px 0px;
}
.reviewPfp{
    border-radius: 50%;
}
.review-text{
    display: flex;
    margin-top: 13px;
}
.respricePerNightAndOverallRating{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
}
.priceContainer{
    display: flex;
    gap: 4px;
    /* margin-left: 20px; */
}
.bookingPrice{
    font-size: 20px;
    font-weight: 500;
    /* margin-left: 10px; */
    list-style: none;
}
.perNight{
    list-style: none;
}
.resReviewsContainer{
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 3px;
}
.avgRatingAndNumRev{
    display: flex;
    gap: 5px;
}
.bookAResContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resButton{
    align-self: center;
    background: #8a8f2e;
    padding: 14px 24px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 5px;
}
.totalFlex{
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
    /* gap: 0px; */
}
.revModal#modal-content{
    background: none;
}
