/* TODO Add site wide styles */
.fa-mountain, .fa-user-plus, .fa-sign-in, .fa-home{
    color: #000;
}
.fa-times{
    z-index: 4;
    position: relative;
    right: 20px;
    background: none!important;
    color: red;
}

.searchBar{
    border-radius: 15px;
    display: inline-block;
    border: #314d58 1px solid;
    width: 400px;
    height: 30px;
    
}
.navBar,.navBar-list, #login-sign-up{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
}
#nav-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: black solid 1px ;
    
}
.searchBar{
    margin-bottom: 10px;
}

#login-sign-up{
    margin-top: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.active-login{
    display: flex;
}
.signup-login-link {
    text-align: left;
    text-decoration: none;
    text-decoration-color: none;
}
a{
    text-decoration: none;
}
body{
    /* background-color: #F3EEE3 ; */
    /* background-color: #E8F3F5; */
    /* background-color: #ECFEF1;  */
    /* background-color: #EBD894;  */
    background-color: #dfd9c4; 
    /* background-color: #9DB0A3; */
}
.navBar-list{
    align-items:flex-end;
    padding-bottom: 5px;
}
.signuploginicons{
    display: flex;
}
.fa-sign-in{
    margin-left: 40px;
    margin-right: 40px;
}
.userGetaways{
    display: flex;
    /* max-width: 100px;  */
    width: 10%;
    justify-content: space-between;
    overflow-y: scroll;

}
.example-custom-input{
    display:inline !important;
}
.reservationDates{
  margin-right: 10px;
  font-weight: bold;
  font-size: 20px;
}
#deleteReservationForm{
    display: flex;
    justify-content: center;
    
}
.viewGetawayButton{
    margin-right: 4vw;;
    /* margin-left: 192px; */

}
.viewGetawayButton#getawayBlurb{
    margin-left: 375px;
}
.pastReservations{
    /* display: flex;
    justify-content: flex-start;
    width: 60vw;
    overflow-y: scroll;
    scroll-snap-type: y mandatory; */
    display: flex;
    overflow-x: auto;
    width: 38vw;
    scroll-snap-type: x mandatory;
    margin-left: 8px;
}
.pastReservations::-webkit-scrollbar{
    background-color: none;
    width: 5px;
  height: 10px;
}
.pastReservations::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
    border-radius: 10px;
}
body {
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.pastReservations::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
}
.singlepastReservation{
    scroll-snap-align: start;
    

    /* margin-right: 50px;
    width: 60vw; */
  
}
#previousReservations{
    margin-left: 30vw;
    background-color:white;
}
.profileContainer{
    display: flex;
    flex-direction: column;
}
.viewGetawayButton,#demo-button, .SignInButton, .addNewGetaway{
    background-color:  #8a8f2e;
    height: 40px;
    border-radius: 25px;
    font-weight: bold;
    border: none;


    width: 123.696px;
}
#demo-button{
    margin-left: 40px;
    position: relative;
}
.fa-sign-out-alt{
    margin-left: 55px;
}
.modal-input-signup-login{
  height: auto;
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
  float: none;
}
.modal-input-signup-login-submit{
  margin-left: 10.5px;
}
#USERNAME, #PASSWORD, #firstNameField, #confirmPasswordField, #passwordField, #emailField, #lastNameField, #firstNameField {
    margin-left:auto;
    margin-right:auto;
    padding-left:10px;
    padding-right:10px;
    width:150px;
    float: none;
}
#confirmPasswordField, #passwordField, #emailField, #lastNameField, #firstNameField{
    width: 85%;
    float: none;
}
#LOGINBUTTON{
    margin-left: 30px;
}
#signupbtn{
    margin-bottom:10px ;
}
/* #root :last-child {
  display: none;
} */
/* #root{
    background-color:black;
} */
.getawayBlurb{
    position:absolute;
    top:350px;
    left:825px;
    letter-spacing: 2.5px;
}


#interestedDiv{
    position:absolute;
    top:700px;
    right: 650px;
}
.getawayDescription { grid-area: getawayDescription; }
.singleGetawayPageProfilePicture{
    max-height: 200px;
    border-radius: 50%;
}

.fa-sign-in{
    position: relative;
    top: 6px;

}
.formWrapper#bookResModal{
    position: absolute;
    left: -180px;
    bottom: 150px;
    right: 180px;

}
.createGetawaySubmitButton#bookReservationSubmitButton{
    position: relative;
    right: 80px;
    margin-top: 15px;
}
.formflex#formflex-bookRes{
    background: #dfd9c4;
}
/* .footer-container{
    margin-top: 15px;
} */
.UpcomingReservations{
    display: flex;

}
.UpcomingReservations *{
    margin: 0 5px;
}
.upcomingGetawayImage,.previousGetawayImage{
    height:540px;
    width: 720px;
}

.maybe {
    flex: 1;
    display: flex;
}
.maybe#containerForgetawayImgsSubmissions{
width:260px;
}
.maybe#containerForgetawayImgsSubmissions *{
margin-left: 5px;
margin-top: 5px;
background-color: white;
}
.maybe2#getawayImgsSubmissions{
    overflow: scroll;
}
.maybe2 {
    display: flex;
    min-height: min-content; /* needs vendor prefixes */
    
    
    overflow-x: auto;
}

.maybe2::-webkit-scrollbar {
height: 6px;
width: 6px;
}
.maybe2::-webkit-scrollbar-thumb{
  background-color: #ccc;
  border-radius: 10px;
}
.getawayImages{
    display: flex;
}
.newGetawayImg{
    width: 120px;
    
}
div#getawayImgsSubmissions:empty{
    display: none;
}
.formErrors{
    color: red;
    font-weight: bold;

}
.createGetawaySubmitButton{
    background-color: #f28350;
    font-weight: bold;
}
.createGetawaySubmitButton:disabled{
    /* opacity: 0.5; */
    background-color: #f28350;
    font-weight: normal;
}
.in-line-delete#deleteGetawayForm{
    display: inline;
}
.upcomingGetawayImage#host-getaway-images{
    height: 320px; 
    width: 400px; 

}
.containerForSidebarAndMainContent{
    display: flex;
    flex-direction: row;
}
.UpcomingReservations.maybe{
    overflow-x: scroll;
    max-width: 75vw;
}
.upcomingGetawayImage,.singleResultImage{
    border-radius:25px;
}
.singleResultImage{
    width: 540px;
}
.browseGetawaysContainer{
    display: flex;
}
.singleResult{
    border-bottom: 1px solid #000;
    display: flex;
    margin-top: 16px;
    
}
.singleResultInfo{
    margin-left: 50px;

}
